<div class="btn-group btn-group-sm" data-toggle="buttons">
    <label class="btn btn-default" title="<%- L('layoutList') %>">
        <input type="radio" name="layout" autocomplete="off" data-layout="list">
        <i class="docmana-icon docmana-icon-listview"></i>
    </label>
    <label class="btn btn-default" title="<%- L('layoutLargeIcons') %>">
        <input type="radio" name="layout" autocomplete="off" data-layout="icons">
        <i class="docmana-icon docmana-icon-iconsview"></i>
    </label>
</div>
