<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">нд╪Ч</h4>
</div>
<div class="modal-body no-padding docmana-viewer-body">

</div>
<div class="modal-footer clearfix">
    <button type="button" class="btn btn-default"
            title="<%- L('cmdDownload') %>"
            data-action="download">
        <i class="docmana-icon docmana-icon-download"></i>
    </button>
    <button type="button" class="btn btn-default"
            title="<%- L('textPreviousItem') %>"
            data-action="previous">
        <i class="docmana-icon docmana-icon-back"></i>
    </button>
    <button type="button"
            class="btn btn-default"
            data-action="next"
            title="<%- L('textNextItem') %>">
        <i class="docmana-icon docmana-icon-forward"></i>
    </button>
</div>