<div class="list-view">
    <div class="datatable-header panel panel-default">
        <table class="table table-bordered table-condensed no-margin">
            <colgroup>
                <col />
                <col style="width:135px;" />
                <col style="width:135px;" />
                <col style="width:90px;" />
            </colgroup>
            <thead>
                <tr>
                    <th><%- L('fileName') %></th>
                    <th><%- L('fileDateModified') %></th>
                    <th><%- L('fileType') %></th>
                    <th><%- L('fileSize') %></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="datatable-content">
        <table class="table table-condensed no-margin">
            <colgroup>
                <col />
                <col style="width:135px;" />
                <col style="width:135px;" />
                <col style="width:90px;" />
            </colgroup>
            <tbody class="docmana-workzone-view"></tbody>
        </table>
    </div>
</div>
