.docmana-icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.docmana-icon-refresh:before {
    content: "\f021";
}

.docmana-icon-sort:before {
    content: "\f034";
}

.docmana-icon-rename:before {
    content: "\f033";
}

.docmana-icon-duplicate:before {
    content: "\f0db";
}

.docmana-icon-mkdir:before {
    content: "\f07b";
}

.docmana-icon-download:before {
    content: "\f019";
}

.docmana-icon-back:before {
    content: "\f060";
}

.docmana-icon-forward:before {
    content: "\f061";
}

.docmana-icon-open:before {
    content: "\f115";
}

.docmana-icon-cut:before {
    content: "\f0c4";
}

.docmana-icon-copy:before {
    content: "\f0c5";
}

.docmana-icon-paste:before {
    content: "\f0ea";
}

.docmana-icon-rm:before {
    content: "\f00d";
}

.docmana-icon-listview:before {
    content: "\f0ca";
}

.docmana-icon-iconsview:before {
    content: "\f03e";
}
.docmana-icon-uploader:before {
    content: "\f0ae";
}
.docmana-icon-upload:before {
    content: "\f093";
}
