<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>jQuery File Upload Example</title>
    <link href="assets/bootstrap/themes/default.css" rel="stylesheet" />
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="upload.css" rel="stylesheet" />
    <style>
        .uploader {
            margin: 40px auto;
            width: 500px;
        }
    </style>
</head>
<body>
    <input id="fileupload" type="file" name="files[]" multiple>
    <div class="uploader panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">文件上传</div>
        </div>
        <div class="panel-body">
            <div class="files list-group"></div>
        </div>
    </div>
    <div id="progress">
        <div class="bar" style="width: 0%;"></div>
    </div>
    <script type="text/template" id="file">
        <div>
            <div class="text">
            </div>
            <div class="progress">
                <div class="bar" style="width:0%"></div>
            </div>
        </div>
    </script>
    <script id="template-upload" type="text/template">
        <% for (var i=0, file; file= data.files[i]; i++) { %>
        <div class="file-upload file">
            <span class="list-group-item holder">.</span>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 0"></div>
            </div>
            <div class="info list-group-item clearfix">
                <div class="name pull-left">
                    <%- file.name %>
                </div>
                <div class="size pull-left">
                    Processing...
                </div>
                <div class="folder pull-left">
                    我的文件
                </div>
                <div class="status pull-left">
                    <i class="fa fa-spinner fa-pulse fa-fw margin-bottom"></i>
                    <span class="sr-only">Processing...</span>
                    <!--<i class="fa fa-check-circle text-success"></i>-->
                </div>
                <div class="operator pull-left">
                    <% if (!i && !data.options.autoUpload) { %>
                    <button class="btn btn-primary btn-sm start" disabled>
                        <i class="fa fa-upload"></i>
                    </button>
                    <% } %>
                    <% if (!i) { %>
                    <button class="btn btn-warning btn-xs cancel">
                        <i class="fa fa-ban"></i>
                    </button>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    </script>
    <script src="assets/jquery.min.js"></script>
    <script src="assets/lodash.min.js"></script>
    <script src="assets/jquery.ui.widget.js"></script>
    <script src="assets/jquery.iframe-transport.js"></script>
    <script src="assets/jquery.fileupload.js"></script>
    <script>
        $(function () {

            var _formatFileSize = function (bytes) {
                if (typeof bytes !== 'number') {
                    return '';
                }
                if (bytes >= 1000000000) {
                    return (bytes / 1000000000).toFixed(2) + ' GB';
                }
                if (bytes >= 1000000) {
                    return (bytes / 1000000).toFixed(2) + ' MB';
                }
                return (bytes / 1000).toFixed(2) + ' KB';
            };

            var tplFile = _.template($('#template-upload').html(), { 'variable': 'data' });
            $('#fileupload').fileupload({
                url: 'http://192.168.1.18:8097/FileManager/Medias/Index',
                formData: {
                    cmd: 'upload',
                    folder: 'Medias',
                    target: 'v1_TWVkaWFz0'
                },
                dataType: 'json',
                add: function (e, data) {
                    if (e.isDefaultPrevented()) {
                        return false;
                    }
                    var $this = $(this);
                    var that = $this.data('blueimp-fileupload') || $this.data('fileupload');
                    var options = that.options;

                    data.context = $(tplFile({
                        files: data.files,
                        options: options
                    })).data('data', data)
                    .addClass('processing');

                    $('#files').append(data.context);
                    //debugger;
                    data.process().always(function () {
                        data.context.each(function (index) {
                            $(this).find('.size').text(
                                _formatFileSize(data.files[index].size)
                            );
                        }).removeClass('processing');
                        // that._renderPreviews(data);
                    }).done(function () {
                        data.context.find('.start').prop('disabled', false);
                        if ((that._trigger('added', e, data) !== false) &&
                                (options.autoUpload || data.autoUpload) &&
                                data.autoUpload !== false) {
                            data.submit();
                        }
                    }).fail(function () {
                        if (data.files.error) {
                            data.context.each(function (index) {
                                var error = data.files[index].error;
                                if (error) {
                                    $(this).find('.status').text(error);
                                }
                            });
                        }
                    });
                },
                progressall: function (e, data) {
                    //var progress = parseInt(data.loaded / data.total * 100, 10);
                    //$('#progress .bar').css(
                    //    'width',
                    //    progress + '%'
                    //);
                },
                progress: function (e, data) {
                    if (e.isDefaultPrevented()) {
                        return false;
                    }
                    var progress = Math.floor(data.loaded / data.total * 100);
                    if (data.context) {
                        data.context.each(function () {
                            $(this).find('.progress')
                                .attr('aria-valuenow', progress)
                                .children().first().css(
                                    'width',
                                    progress + '%'
                                );
                        });
                    }
                },
                done: function (e, data) {
                    $.each(data.result.added, function (index, file) {
                        $('<p/>').text(file.name).appendTo(document.body);
                    });
                }
            });
        });
    </script>
</body>
</html>